:root {
  --border-red: #8A1F27;
  --border-grey: #EAEAEA;
  --border-filter-grey: #E5E5E5;
  --basic-red-active: #BA2732;
  --basic-blue-active: #161D29;
  --basic-green-hover: #5FBB2D;
  --login-blue-hover: #3D546F;
  --button-red-hover: #CA2C37;

  --partition-materials: #FFBF47;
  --partition-tool: #3BBCE3;
  --partition-technics: #DC91D8;
  --partition-discount: #8ED78F;
  --partition-delivery: #FFC047;

  --card-border: #EAEAEA;

  --title-index-purple: #F9F5F0;
  --title-catalog-purple: #F7F3EC;

  --hover-red: #BA2732;

  --basic-red: #EE3643;
  --basic-blue: #32425C;
  --basic-dark-blue: #293449;
  --basic-black: #000000;

  --basic-header-bg: #F4F7F9;
  --basic-light-grey: #F3F7F9;
  --basic-title-catalog: #F2F6F8;
  --basic-grey: #F1F5F7;
  --basic-login-grey: #C5C5C5;
  --basic-white: #ffffff;

  --basic-order: #63A63E;

  --red-error: #BA2732;
  --socials-background: #212A3A;
  --header-ico1ns: #69717F;
  --footer-gold: #FFD180;

  --svg-grey: #69717F;
}

.page-body {
  /*	чтобы видеть все иконки*/
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/*... GENERAL CLASSES ...*/

.main-header {
  background-color: var(--basic-light-grey);
}

.main-header__top {
  background: var(--basic-dark-blue);
  min-width: 100%;
  height: 42px;
}


.toolbar {
  display: flex;
  text-align: center;
}

.toolbar-item {
  padding: 8px 0;
  margin-left: auto;
}

.logo-link {
  display: block;
  fill: var(--basic-white);
  background-color: var(--basic-red);
  padding: 12px 55px 14px 55px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 220px;
}

.logo-link:active {
  background-color: var(--basic-red-active);
}

.toolbar-search {
  position: relative;
  fill: var(--basic-red);
}

.toolbar-search:hover .search-button {
  fill: var(--basic-white);
}

.toolbar-search:active {
  opacity: 0.5;
}

.toolbar-search:focus-within .search-button {
  fill: var(--basic-red);
}


.toolbar-search:hover {
  fill: rgba(255, 255, 255, 0.3);
}

.toolbar__search:active {
  fill: var(--basic-red);
}

.input-search {
  height: 42px;
  width: 270px;
  background: transparent;
  border: 0;
  color: var(--basic-white);
  padding-left: 45px;
  z-index: 0;
  outline: none;
}

.input-search:focus-within {
  background: var(--basic-white);
  color: var(--basic-black);
}

.input-search::placeholder {
  color: var(--basic-white);
}

.search-button {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 17px;
  background: transparent;
  border: 0;
  outline: none;
  color: var(--basic-white);
  fill: rgba(255, 255, 255, 0.3);
}



.toolbar-link:active {
  background-color: var(--basic-blue-active);
  opacity: 0.3;

}

.order {
  background-color: var(--basic-order);
}

.order:hover {
  background-color: var(--basic-green-hover);
}

.order:active {
  opacity: 0.5;
}

.toolbar-link {
  color: var(--basic-white);
  text-decoration: none;
  fill: var(--svg-grey);
  padding: 10px 17px;
}

.toolbar-link:hover {
  fill: var(--basic-white);
}

/*... TOP HEADER ...*/

.header-middle {
  padding: 0;
  margin: 0;
  padding: 38px 0;
}

.header-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.header-title {
  color: var(--basic-red);
  max-width: 200px;
  font-size: 16px;
  line-height: 23px;
}

.header-title p {
  margin: 0;
}

.telephone {
  max-width: 270px;
  border: 3px solid var(--basic-white);
  text-align: center;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
}

.mobile-link {
  color: var(--basic-red);
  text-decoration: none;
  font-size: 21px;
  line-height: 30px;
}

.signup-link {
  color: var(--basic-blue);
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  fill: var(--basic-login-grey);

  margin: 0 5px;
}

.signup-link:hover {
  color: var(--basic-red);
  fill: var(--basic-blue-active);
}

.signup-link__tool {
  color: var(--basic-black);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  margin: 0 5px;
}

.signup-link__tool:hover {
  color: var(--basic-red);
}

.signup-link__tool:active {
  color: var(--basic-login-grey);
}
}

.signup-link:hover {
  color: var(--basic-red);
  fill: var(--login-blue-hover);
}

.signup-link:active {
  color: var(--basic-login-grey);
  fill: var(--basic-login-grey);
}

/*... HEADER MIDDLE ...*/

.header-bottom {
  padding-bottom: 60px;
}

.nav-list {
  list-style: none;
  background-color: var(--basic-blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 940px;
  height: 60px;
  box-shadow: inset 0px -5px 0px #293449;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--basic-white);
  padding: 18px 0 20px 0;
}


.nav-link:hover {
  background-color: var(--basic-dark-blue);
}

.nav-link:active {
  opacity: 0.5;
  background-color: var(--basic-dark-blue);
}

/*/// HEADER ///*/

.materials {
  background-color: var(--partition-materials);
  grid-area: mate;
}

.tools {
  background: var(--partition-tool);
  grid-area: tool;
}

.technics {
  background: var(--partition-technics);
  grid-area: tech;
}

.discount {
  background: var(--partition-discount);
  grid-area: dis;
}

.delivery {
  background: var(--partition-delivery);
  grid-area: del;
}

.benefits {
  display: grid;
  grid-template-areas:
    "mate tool tech"
    "perf perf dis"
    "perf perf del";
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123 620px 123px;
  grid-gap: 20px;

}

.benefits-item {

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  /*  padding: 20px 45px 20px 20px;*/

}

.benefits-name {
  margin: 0;
  padding: 0;
}

.benefits-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 24px;
  background-color: rgba(255, 255, 255, 0.3);
}

.benefits-link:hover {
  background-color: rgba(197, 197, 197, 0.5);
}

.benefits-link:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.benefits-icon {
  fill: var(--basic-white);
  margin-left: 15px;
}

.slider {
  grid-area: perf;
}

.slider-perforator {
  background: url(../img/perforators.jpg) no-repeat center center;
  width: 620px;
  height: 265px;
}

.slider-perforator__top {
  color: var(--basic-white);
  background: rgba(0, 0, 0, 0.3);
  height: 105px;
}

.slider-text {
  padding: 25px 0 15px 20px;
  margin: 0;
}


.slider-title {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.slider-button {
  margin-left: 25px;
  margin-top: 90px;
}

.button {

  width: 220px;
  padding: 10px 45px;
  text-decoration: none;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background: var(--basic-red);
  position: relative;
}

.button:hover {
  background: var(--button-red-hover);
}

.button:active {
  background: var(--basic-red-active);
}

/*... BENEFITS ...*/

.products-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--basic-blue);
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  padding: 5px 30px 5px 30px;
  background: var(--title-index-purple);
}

.products-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  text-align: center;
}

.products-item {
  border: 1px solid var(--border-grey);
  width: 220px;
  height: 320px;

  padding: 20px;
}

.products-name {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-family: "PT sans", sans-serif;
  text-decoration: none;
  color: var(--basic-black);
}

.products-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturers-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 940px;
  align-items: center;
  flex-wrap: wrap;
}

.manufacturers-item {
  border: 1px solid var(--border-grey);
  width: 220px;
  height: 145px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.manufacturers-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturers-item:active {
  opacity: 0.5;
}



/*... PRODUCTS ...*/


.services {
  background: var(--basic-grey);
}

.services-text {
  max-width: 400px;
  padding-top: 65px;
  grid-area: text;
}

.services-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}


.services-about {
  font-family: "PT sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-tabs {
  max-width: 250px;
  grid-area: tabs;
}

.services-tabs__list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  width: 240px;
}

.tab-link {
  display: block;
  background: var(--basic-blue);
  text-decoration: none;
  color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  padding: 14px 0 18px 22px;
}

.tab-link:hover {
  background: var(--basic-dark-blue);
}

.tab-link:active {
  background: var(--basic-white);
  color: var(--basic-blue);
}


/*... SERVICES ...*/

.delivery-text {
  width: 300px;

}

.delivery-title {
  color: var(--basic-blue);
  font-size: 30px;
  line-height: 30px;
}

.delivery-about {
  font-family: "PT sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}


/*... DELIVERY ...*/

.about-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.description-about {
  max-width: 460px;
  font-family: "PT sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.cooperation {
  font-size: 18px;
  line-height: 24px;
}

.contacts-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.contacts-about {
  max-width: 180px;
  font-family: "PT sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/*... ABOUT ....*/
/*/// MAIN //*/


.footer-menu {
  background: var(--basic-blue);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.main-footer {
  background: var(--basic-dark-blue);
}



.footer-address {
  font-size: 18px;
  line-height: 24px;
  max-width: 330px;
  color: var(--basic-light-grey);
}

.footer-categories__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-categories__list:last-child {
  margin-right: 0;
}

.footer-gold:first-child {
  margin-left: 30px;
}

.footer-categories__item {

  color: var(--basic-grey);
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
}



.footer-categories__item:hover {
  text-decoration: underline;
}

.footer-categories__item:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-gold {
  color: var(--footer-gold);
}

.footer-copyright {}


.copyright-text {
  max-width: 280px;
  color: var(--basic-white);
}


.socials-list {
  list-style: none;
  padding: 0;
}

.socials-item {
  border-radius: 50%;
  background: var(--socials-background);
  width: 45px;
  height: 45px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  cursor: pointer;
}

.socials-item:hover {
  background: var(--basic-red);
}

.connections {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
}

.connections-link {
  color: var(--footer-gold);
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}

.connections-link:hover {
  text-decoration: underline;
}

.connections-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

.crumbs-list {
  padding: 0;
  display: flex;
}

.crumbs-item {
  list-style: none;
  margin-right: 40px;
  position: relative;
}

.crumbs-link {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.crumbs-item::after {
  content: "";
  display: inline-block;
  background-image: url(../img/icon-right-small.svg);
  vertical-align: middle;
  margin: 5px;
  margin-left: 20px;
  height: 13px;
  width: 8px;
  position: absolute;
}

.crumbs-item:last-child::after {
  display: none;
}



.catalog-title {
  background: var(--basic-title-catalog);
  text-transform: uppercase;
  color: var(--basic-blue);
  font-size: 30px;
  line-height: 30px;
  padding: 30px 0 30px 30px;
}

.filter {
  width: 220px;
}

.filter-title {
  background: var(--title-catalog-purple);
  font-size: 13px;
  line-height: 18px;
  font-family: "PT sans", sans-serif;
  text-transform: uppercase;
  padding: 10px 0 10px 18px;
  color: var(--basic-blue);
}

.price-title {
  text-transform: uppercase;
  font-size: 17px;
  left: ;
  ine-height: 30px;
  font-family: "PT sans", sans-serif;
  font-weight: 700;
}

.filter-name {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "PT sans", sans-serif;
}

.filter-manufacturers__item {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: "PT sans", sans-serif;
}

.filter-list {
  padding: 0;
}

.filter-li {
  list-style: none;
}

.button-submit {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT sans", sans-serif;
  border: 1px solid var(--border-filter-grey);
  text-transform: uppercase;
  max-width: 100%;

}

.sorting-title {
  background: var(--title-catalog-purple);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.sorting-subtitle {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT sans", sans-serif;
  text-transform: uppercase;
  margin: 10px 140px 10px 20px;

}

.sorting-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-grow: 1;
  padding: 0;
}

.sorting-link {
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.3;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT sans", sans-serif;
  color: var(--basic-black);
}

.sorting-link:hover {
  opacity: 1;
}

.sorting-link:active {
  color: var(--basic-red);
}

.pagination-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  max-width: 260px;
}

.pagination-item {}

.pagination-link {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  border: 1px solid var(--border-filter-grey);
}

.pagination-link:hover {
  border: 1px solid var(--basic-login-grey);
}

.pagination-link:active {
  border: 1px solid var(--basic-red);
}

.about-punchers {
  background: var(--basic-grey);
}

.about-punchers__title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  padding-top: 65px;
}

.about-punchers__text {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT sans", sans-serif;
  padding-bottom: 70px;
}

/*/// CATALOG  ///*/
img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.services-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car {
  width: 470px;
  height: 260px;
  align-self: flex-end;
}

.description-container {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-gap: 180px;
}

.footer-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 70px;
}

.footer-logo-link {
  padding: 23px 55px 23px 55px;
}

.copyright-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-login {
  background: var(--basic-white);

}

.user-link {
  padding: 13px;
  color: var(--basic-black);
}

.main-part__inner {
  display: flex;
  justify-content: space-between;
}

.products-list__inner {
  display: flex;
  justify-content: space-between;
  width: 700px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.sorting {}

.nav-item {}

.description {
  padding: 70px 0;
}

.logo {
  fill: var(--basic-white);
  background-color: var(--basic-red);
  padding: 12px 55px 14px 55px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 220px;
}
}
