.range-wrapper--cyrcle {
  border-radius: 50%;
  height: 20px;
  width: 22px;
}


body {
  background-color: #F5F5F5;
  /*	чтобы видеть все иконки*/
}

li {
  list-style: none;
}



input[type="checkbox"] + span {
  position: absolute;
  /* Абсолютное позиционирование
left: 0;
top: 0;
width: 100%;
height: 100%;
background: url(...) no-repeat;
Фоновый рисунок
cursor: pointer;
 Курсор в виде руки
}

///////////

input[type="checkbox"]:checked + span {
	background-position: 0 -26px;

}


И тоже самое для радиобаттона */
