:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-light-grey: #8ED78F;
  --basic-grey: #C5C5C5;
  --basic-dark-white: #F1F5F7;
  --basic-light-white: #F2F6F8;
  --basic-blue: #32425C;
  --basic-extra-blue: #293449;
  --basic-light-blue: #3BBCE3;
  --basic-red: #EE3643;
  --basic-error: #BA2732;
  --basic-green: #63A63E;
  --basic-light-green: #8ED78F;
  --basic-dark-orange: #FFBF47;
  --basic-orange: #FFC047;
  --basic-dark-yellow: #FFD180;
  --basic-purple: #DC91D8;
  --basic-light-purple: #F7F3EC;
  --basic-gold: #FFDA96;

  --basic-hover-blue: #161D29;
  --basic-hover-red: #BA2732;
  --basic-hover-extra-green: #5FBB2D;
}


/*/// VAR COLORS ///*/

.c-black {
  color: var(--basic-black);
}

.c-blue {
  color: var(--basic-blue);
}

.c-white {
  color: var(--basic-white);
}

.c-gold {
  color: var(--basic-gold);
}

.c-red {
  color: var(--basic-red);
}

.c-black-op {
  color: rgba(0, 0, 0, 0.3);
}

.b-dark-orange {
  background-color: var(--basic-dark-orange);
}

.b-extra-blue {
  background-color: var(--basic-extra-blue));
}

.b-light-blue {
  background-color: var(--basic-light-blue);
}

.b-purple {
  background-color: var(--basic-purple);
}

.b-light-purple {
  background-color: var(--basic-light-purple);
}

.b-green {
  background-color: var(--basic-light-green)
}

.b-orange {
  background-color: var(--basic-orange);
}

.b-white-op {
  background-color: rgba(255, 255, 255, 0.3);
}

.b-light-white {
  background-color: rgba(242, 246, 248, 0.5);
}

.border-b-d {
  border-bottom: 1px dotted var(--basic-red);
}

.b-dark-white {
  background-color: var(--basic-dark-white);
}

/*/// CLASS COLORS ///*/



body {
  /*	чтобы видеть все иконки*/
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

h2 {
  color: var(--basic-extra-blue);
}

/* нужно внести все похожие теги с их цветами и размерами сюда!*/

* {
  padding: 0;
  margin: 0;
}


/*/// BY TEG ///*/

.range-wrapper__line {
  background-color: var(--basic-light-green);
  height: 2px;
}

.main-header {
  color: var(--basic-white);
  background-color: #F1F5F7;
  /*  сделал чуть больше, чем нужно, дабы визуально отделить */
}

.main-logo {}

.main-header-logo {
  background-color: var(--basic-red);
  border-bottom: 5px solid var(--basic-error);
}

.main-header-logo:active {
  background-color: var(--basic-hover-red);
}

.main-navigation {
  background-color: var(--basic-extra-blue);
}

.bookmark-item {
  background-color: var(--basic-extra-blue);
}

.bookmark-item:active {
  background-color: var(--basic-hover-blue);
  opacity: 0.5;
}

.menu-item:active {
  opacity: 0.5
}






/*

.menu-item img {
  opacity: 0.5;
}

.menu-item img:hover {
  opacity: 1;
}

 пока не придумал как связать, но это наверное ближе когда изменю svg
*/

/*/// MAIN CLASSES ///*/

.header-title {
  color: var(--basic-red);
  max-width: 200px;
}

.search-svg {
  color: var(--basic-red);
  fill: red;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.order {
  background-color: #63A63E;
  width: 150px;
  text-align: center;
}

.order:hover {
  background-color: var(--basic-hover-extra-green);
}

.order:active {
  opacity: 0.5;
}


.number {
  max-width: 270px;
  text-align: center;
}

.number-link {
  border: 3px solid white;

}

.number-link a {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
}

.number-title {
  color: var(--basic-blue);
}

.login-button div {
  background-color: var(--basic-white);
  max-width: 300px;
  margin: 5px;
  text-align: center;
}

.login-link a:hover {
  color: var(--basic-red);
}

.login-link a:active {
  color: var(--basic-black);
  opacity: 0.5;
}

.nav-item:hover {
  background-color: #293449;
}

.nav-item:active {
  opacity: 0.5;
}

/*/// HEADER CLASSES ///*/

.container {
  max-width: 940px;
  margin: 0 auto;
}

.button {
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.fz13 {
  font-size: 13px;
}

.fz14 {
  font-size: 14px;
}

.fz15 {
  font-size: 15px;
}

.fz16 {
  font-size: 16px;
}

.fz30 {
  font-size: 30px;
}

.lh23 {
  line-height: 23px;
}

.fz18 {
  font-size: 18px;
}

.fz30 {
  font-size: 30px;
}

.lh18 {
  line-height: 18px;
}

.lh19 {
  line-height: 19px;
}

.ln24 {
  line-height: 24px;
}

.lh30 {
  line-height: 30px;
}


.tt-up {
  text-transform: uppercase;
}

.fw400 {
  font-weight: 400;
}

.fw700 {
  font-weight: 700;
}


.ff-pt {
  font-family: "PT Sans", sans-serif;
}

/*/// GENERAL CLASSES ///*/



/* тут просто обобщил максимальный размер, ниже укажу нужный*/


.nav-list {
  background-color: var(--basic-blue);
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid var(--basic-extra-blue);
}

.categories-item {
  width: 300px;
  height: 125px;
}

.b-white-op:hover {
  background-color: #eec16c;
}

.button:hover {
  background-color: #CA2C37;
}

.button:active {
  background-color: #BA2732;
}

.b-white-op:active {
  background-color: #e6b965;
}

.perforators-slider {
  background: url("../img/perforators.jpg") no-repeat center center;
  height: 266px;
  width: 620px;
}

.products-title {
  background-color: var(--basic-light-purple);
  color: var(--basic-extra-blue);
  font-family: "Cuprum"sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.products-item {
  border: 1px solid #EAEAEA;
  color: var(--basic-black);
  width: 220px;
  height: 320px;
  text-align: center;
}

.manufacturers-item {
  border: 1px solid #EAEAEA;
  width: 220px;
  height: 150px;
  text-align: center;
}

.manufacturers-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.manufacturers-item:active {
  opacity: 0.5;
}

.services {
  color: var(--basic-black);
  height: 520px;
  background-color: #F1F5F7;
}

.description {}


.switch-button {
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
}

.switch-button:active {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.switch-button:hover {
  border: 1px solid #C5C5C5;
}

.footer-menu {
  background-color: var(--basic-blue);
}

.footer-copyright {
  background-color: var(--basic-extra-blue);
}

.tab-link {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.c-black-op:hover {
  color: black;
  border-bottom: 1px solid red;
}

.c-black-op:active {
  color: red;
  border: none;
}

/* тут нужно подправить под общий класс*/
.tab-link:hover {
  background-color: var(--basic-hover-blue);
}

.tab-link:active {
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.c-white:hover {
  border-bottom: 1px solid white;
}

.c-gold:hover {
  border-bottom: 1px solid var(--basic-gold);
}

.c-white:active {
  opacity: 0.5;
}

.c-gold:active {
  opacity: 0.5;
}

.conntections-link:active {
  color: var(--basic-red);
}
